.about {

    background-color: $grey-lt;
    margin-top: -10vh;

    padding-top: 10rem;
    padding-bottom: 10rem;

    &__profile-box {
        background-color: $main-color;
        padding: 2.5rem;
        border-radius: 2.5rem;


        &--img {
            float: right;
            border-radius: 18rem;
        }
    }

    &__skills {

        @media screen and (max-width: $break-small-device) {
            margin-left: 1rem;
        }

        .skill {
            background-color: $main-color;
            padding: .5rem 1.5rem .5rem 1.5rem;
            border-radius: 2.5rem;
            margin-right: .5rem;
            display: inline-block;
            cursor: default;

            font-size: $default-font-size;
            color: $white;

            &:not(:first-child) {
                margin-top: 1rem;
            }

            &:hover {
                @extend %button-shadow;
            }
        }
    }
}

.portfolio {

    margin-top: -10vh;

    background-color: $main-color;

    padding-top: 10rem;
    padding-bottom: 10rem;
}

.contact {

    margin-top: -10vh;

    background-color: $grey-lt;

    padding-top: 10rem;
    padding-bottom: 10rem;
}